h1{
    color:white;
    text-align: center;
    font-family: sans-serif;
    background-color: black;
    margin-top: 250px;
    font-size: 50px;
}
h2{
    color:white;
    text-align: center;
    font-family: sans-serif;
    background-color: black;
    margin-top: 25px;
    font-size: 20px;
}

body{

    background-color: black;
}
